/* footer */

#footer {
  position: absolute;
  top: 0;
  font-family: arial;
  background-color: #c9c9c9;
  z-index: 1;
  height: 200px;
  width: 100%;
  left: 0;
  margin-top: 800px;
}

.footer-content {
  padding: 10px;
}
