body {
  background-color: white;
  font-family: arial;
  color: black;
}

#question-div {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  background-color: white;
}

#incorrect-div {
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
  background-color: white;
}
